<a href="#" class="trade_id" trade-id="<%= @trade.id %>">Next Trade</a>

<div id="trade-container">
  <h3>
    <%= @trade.direction.capitalize %>
    <%= @trade.instrument.symbol %> |
    Trader: <%= @trade.trader.email %>
  </h3>
  <p>
    Date: <%= @trade.created_at.strftime("%b %e, %Y") %>
  </p>
  <p>
    Entry price: <%= to_currency(@trade.entry) %>
  </p>
  <p>
    Exit price: <%= to_currency(@trade.exit) %>
  </p>
  <p>
    Size: <%= @trade.quantity %>
  </p>
  <p>
    Profit/loss: <%= to_currency(@trade.profit_loss) %>
  </p>
  <p>
    Notes: <%= @trade.notes %>
  </p>
  <p>
    <% if @trade.trader == current_trader %>
      <%= link_to"Edit", edit_trade_path(@trade) %> |
      <%= link_to("Delete", @trade, method: :delete) %>
    <% end %>
  </p>
</div>

<p><button href="/comments" class="trade_id hide-when-no-trade" trade-id="<%= @trade.id %>" id="show-comments">Show Comments</button></p>

<div id="comments" class="hide-when-no-trade">
</div>

<p><button style="display: none" class="trade_id hide-when-no-trade" trade-id="<%= @trade.id %>" id="add-comment">Add Comment</button></p>

<div id="comment-form">
</div>

<script id="trade-template" type="text/x-handlebars-template">
  <h3>
    {{direction}} {{instrument}} | Trader: {{trader}}
  </h3>
  <p>
    Date: {{date}}
  </p>
  <p>
    Entry price: {{entry}}
  </p>
  <p>
    Exit price: {{exit}}
  </p>
  <p>
    Size: {{size}}
  </p>
  <p>
    Profit/loss: {{PNL}}
  </p>
  <p>
    Notes: {{notes}}
  </p>
</script>
