<a href="#" class="trade_id" trade-id="<%= @trade.id %>">Next Trade</a>

<div id="trade-container">
  <h3 id="trade-info">
    <%= @trade.direction.capitalize %>
    <%= @trade.instrument.symbol %> |
    Trader: <%= @trade.trader.email %>
  </h3>

  <p id="date" class="hide-when-no-trade">
    Date: <%= @trade.created_at.strftime("%b %e, %Y") %>
  </p>

  <p id="entry" class="hide-when-no-trade">
    Entry price: <%= to_currency(@trade.entry) %>
  </p>

  <p id="exit" class="hide-when-no-trade">
    Exit price: <%= to_currency(@trade.exit) %>
  </p>

  <p id="size" class="hide-when-no-trade">
    Size: <%= @trade.quantity %>
  </p>

    <p id="pnl" class="hide-when-no-trade">
      Profit/loss: <%= to_currency(@trade.profit_loss) %>
    </p>

  <p id="notes" class="hide-when-no-trade">
    Notes: <%= @trade.notes %>
  </p>

  <p class="hide-when-no-trade">
    <% if @trade.trader == current_trader %>
      <%= link_to"Edit", edit_trade_path(@trade) %> |
      <%= link_to("Delete", @trade, method: :delete) %>
    <% end %>
  </p>
</div>

<p><button href="/comments" class="trade_id hide-when-no-trade" trade-id="<%= @trade.id %>" id="show-comments">Show Comments</button></p>

<div id="comments" class="hide-when-no-trade">
</div>

<script id="trade-template" type="text/x-handlebars-template">
  <h3>
    {{direction}} {{instrument}} | Trader: {{trader}}
  </h3>
  <p>
    Date: {{date}}
  </p>
  <p>
    Entry price: {{entry}}
  </p>
  <p>
    Exit price: {{exit}}
  </p>
  <p>
    Size: {{size}}
  </p>
  <p>
    Profit/loss:
  </p>
  <p>
    Notes: {{notes}}
  </p>
</script>
