<%= link_to "Previous", "/trades/#{@trade.id - 1}", class: "previous-trade" if @trade.id > 1 %>
<a href="#" class="js-next" trade-id="<%= @trade.id %>">Next Trade</a>

  <h3 id="trade-info">
    <%= @trade.direction.capitalize %>
    <%= @trade.instrument.symbol %> |
    Trader: <%= @trade.trader.email %>
  </h3>

  <p id="date" class="trade-attr">
    Date: <%= @trade.created_at.strftime("%b %e, %Y") %>
  </p>

  <p id="entry" class="trade-attr">
    Entry price: <%= to_currency(@trade.entry) %>
  </p>

  <p id="exit" class="trade-attr">
    Exit price: <%= to_currency(@trade.exit) %>
  </p>

  <p id="size" class="trade-attr">
    Size: <%= @trade.quantity %>
  </p>

    <p id="pnl" class="trade-attr">
      Profit/loss: <%= to_currency(@trade.profit_loss) %>
    </p>

  <p id="notes" class="trade-attr">
    Notes: <%= @trade.notes %>
  </p>

<p>
  <% if @trade.trader == current_trader %>
    <%= link_to"Edit", edit_trade_path(@trade) %> |
    <%= link_to("Delete", @trade, method: :delete) %>
  <% end %>
</p>
