<!DOCTYPE html>
<html>
  <head>
    <title>TradingJournalRailsProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div align="center"><h1>TRADING JOURNAL</h1> </div>

    <%= render 'layouts/nav' %>

    <%= yield %>

  </body>
</html>
