<!DOCTYPE html>
<html>
  <head>
    <title>TradingJournalRailsProject</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div align="center"><h1>TRADING JOURNAL</h1> </div>

    <%= render 'layouts/nav' %>

    <p>
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    </p>

    <%= yield %>

  </body>
</html>
